@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9; /* Optional: Light background for a clean look */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Additional reset for padding/margin of other elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Remove default padding from parent elements */
.App {
  margin: 0;
  padding: 0;
}

/* AppBar specific fixes */
.MuiAppBar-root {
  margin: 0;
}
